---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  desc: string;
  domain: string;
}

const { title, desc, domain } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={desc} />

    {/* Open Graph Facebook  */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />

    <meta property="og:url" content={domain} />
    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />

    <meta property="twitter:url" content={domain} />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
